.btn1 { height: 26px; border: 1px solid #bcbab1; border-radius: 5px; background-clip: padding-box; box-shadow: 0 1px 1px rgba(255,255,255,.8); background-color: transparent; 
	font-family: Helvetica, Arial, sans-serif; font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.8); @include font-smoothing(antialiased); color: #5f5947; padding: 0 10px;
}
.btn2 { position: relative; border: none; @include background-image(linear-gradient(bottom, #215601 0%, #369013 100%)); height: 43px; font-family: 'PSLxThaiCommon'; color: #fff; font-weight: 400; font-size: 24px; @include font-smoothing(antialiased); border-radius: 10px; background-clip: padding-box; text-shadow: 0 -1px 0 rgba(0,0,0,.4); box-shadow: inset 2px 3px 2px rgba(255, 255, 255, .35), inset -2px -3px 2px rgba(0,0,0,.35); width: 100%; display: block; line-height: 40px; text-align: center; 
}
.btn3 { @extend .btn2; @include background-image(linear-gradient(bottom, #293d65 0%, #4565bf 100%)); }
.btn4 { @extend .btn2; @include background-image(linear-gradient(bottom, #054461 0%, #0181bd 100%)); line-height: 45px; 
	&:hover { color: #fff; }
}
.btn5 { display: block; margin: 0 auto 8px; text-align: center; width: 90%; max-width: 300px; color: #000; font-weight: bold; border-radius: 10px; background-color: rgba(255, 255, 255, .7); border: 1px solid #878166; background-clip: padding-box; line-height: 38px; font-size: 17px;  }
.btn6 { @extend .btn1; background-color: #69b32e; color: #fff; border: 1px solid #5d992c; text-shadow: none; }

.border { padding: 3px; display:block; background-clip: padding-box; @include background-image(linear-gradient(bottom, rgba(42,42,42,.75) 0%, rgba(3,3,3,.75) 100%)); border-radius: 12px;  }
.border2 { @extend .border; @include background-image(linear-gradient(bottom, rgba(42,42,42,.25) 0%, rgba(3,3,3,.25) 100%)); margin-top: 0; margin-bottom: 5px; }

header { 
	button { position: absolute;top: 10px; z-index: 2;  }
	>button:nth-child(2) { left: 15px; }
	>button:nth-child(3) { right: 15px; }
}
// Favorite Button
.btn-fav { position: absolute; display: block; @include size(27px 44px); text-indent: -1000em; @include retina-image('../img/favorite/favorite-active', 27px 44px); top: -2px; left: 5px; background-position: 0 -44px; background-repeat: no-repeat; @include transition(all 0.35s ease-out);

	&:after { content: ''; @include size(20px 19px); display:block; @include retina-image('../img/favorite/favorite', 20px 19px); z-index: 2; top: 12px; left: 4px; position: absolute; }
	&.active { background-position: 0 0; }
}	
