$retina-filename: '@2x.png';
// Vertical
$w-container_v: 100%;	//1536px
$h-container_v: 100%;	//2520px
$h-header: 44px;
$a-ios7: cubic-bezier(.10, .70, .10, 1);
$landscape: em(641);
$f-caption: em(12);
$f-caption-btn: em(13);
$gap-popup: 8px;
$menu-radius: 8px;
$w-sidebar-left: 280px;
$c-h1: #4b4739;

// Sidebar
$c-nav_button: #f8f4ea;

// Favorite
$w-grid-img: 100%;
$p-figure: 15px;
$c-link: #4f3f27;
$f-link: em(17);
$f-text: em(12);
$f-stat: em(12);
